* {
    padding: 0%;
    margin: 0%;
}
body {
    padding-top: 10vh;
}
header {
    background-color: black;
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0%;
    display: flex;
    justify-content: cente;
    align-items: center;
}
header>nav {
    /* background-color: rebeccapurple; */
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
header>nav>div {
    /* background-color: rgb(153, 100, 51); */
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}
nav>div>h1 {
    font-size: 40px;
    font-weight: bolder;
    color: gray;
}
header>nav>div>img {
    height: 100%;
}
header>nav>ul {
    /* background-color: chartreuse;  */
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 15px;
}
header>nav>ul>li {
    padding: 10px;
    border: 1px solid rgb(14, 10, 10);
    border-radius: 25px;
    background-color: rgb(214, 212, 210);
}
nav>ul>li:hover {
    scale: 1.2;
}
nav>ul>li>a {
    text-decoration: none;
    color: black;
}
nav>ul>li>a:hover {
    background-color: rgb(172, 164, 164);
    color: white;
    border: 2px solid black;
    border-radius: 30px;
    padding: 15px;
}
#close,#navlinksMob{
    display: none;
}
#burger{
    background-color: white;
    height: 30px;
    width: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 10px;
    gap: 5px;
}
#burger>h1{
    background-color: black;
    height: 2px;
    width: 22px;
}
section,main {
    width: 100%;
    height: 90vh;
    padding-top: 10vh;
}
#home {
    background-image: url(./deepu\ logo.jpeg);
    filter: brightness(50%) contrast(100%);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#home>h1 {
    font-size: 40px;
    font-weight: bolder;
    color: rgb(239, 233, 245);
}
#home>button{
    width: 20%;
    height: 8%;
    border: 2px solid yellow;
    background-color: orangered;
    color: blue;
    font-size: 30px;
    border-radius: 35px;
    font-weight: bold;
}
#home>button>a{
    text-decoration: none;
}
#about {
    background-color: grey;
}
#about>h1 {
    font-weight: bolder;
    font-size: 40px
}
#about>h1>cite {
    color: white;
    font-style: normal;
}
#about>aside {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#about>aside>div {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}
#about>aside>div>ul {
    width: 20%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    font-size: 15px;
    /* background-color: hotpink; */
    /* border: 2px solid salmon; */
}
#about>aside>div>ul:hover {
    scale: 1.1;
}
#about>aside>article {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about>aside>article>div {
    width: 60%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#about>aside>article>ol {
    width: 60%;
    height: 100%;
}
#about>aside>article>ol>p {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: aquamarine; */
    border: 2px solid rgb(8, 7, 7);
    border-radius: 15px;
    font-size: 25px;
}
#about>aside>article>div>img {
    width: 90%;
    height: 100%;
    border-radius: 25px;
    border: 2px solid black;
}
#products {
    background-color: grey;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#products>aside {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}
#products>aside>h1 {
    font-weight: bolder;
    font-size: 40px;
}
#products>aside>h1>cite {
    color: white;
    font-style: normal;
}
#products>aside>div {
    background-color: grey;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    gap: 50px;
}
#products>aside>div>button {
    width: 10%;
    height: 50%;
    border: 2px solid orange;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(231, 230, 227);
    border-radius: 35px;
    cursor: pointer;

}
#products>aside>div>button:hover {
    color: purple;
}
#products>aside>div>button>a{
    text-decoration: none;
}
#products>aside>article {
    /* background-color: brown; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#products>aside>article>ul {
    /* background-color: rgb(245, 245, 21); */
    width: 20%;
    height: 80%;
    border: 2px solid gray;
    border-radius: 25px;
    /* background-color: beige;    */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
}
#products>aside>article>ul:hover {
    scale: 1.1;
}
#products>aside>article>ul>h3 {
    font-size: 15px;
}
#products>aside>article>ul>img {
    height: 88%;
    width: 100%;
    border: 2px solid black;
    border-radius: 20px;
}
#products>aside>article>ul>button {
    width: 20%;
    height: 10%;
    border-radius: 35px;
    background-color: rgb(235, 232, 226);
    border: 2px solid rgb(221, 158, 10);
    cursor: pointer;
    font-size: 15px;
}
#services {
    background-color: grey;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
#services>h1 {
    font-weight: bolder;
    font-size: 40px;
}
#services>h1>cite {
    color: white;
    font-style: normal;
}
#services>article {
    /* background-color: brown; */
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
#services>article>ul {
    /* background-color: aqua; */
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 40px;
}
#services>article>ul>h3 {
    font-size: 20px;
}
#services>article>ul>p {
    font-size: 15px;
}
#services>div {
    /* background-color: khaki; */
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 20px; */
    
}
#services>div>aside {
    /* background-color: blue; */
    height: 90%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    border-radius: 15px;
    flex-direction: column;
}
#services>div>aside>ul {
    font-size: 15px;
    height: 25%;
    width: 80%;
    border: 2px solid black;
    border-radius: 30px;
}
#services>div>aside>ul>h3{
    margin-left: 25px;
}
#services>div>aside>ul>p{
    margin-left: 25px;
}
#services>div>ol {
    /* background-color: rgb(72, 255, 0); */
    height: 90%;
    width: 50%;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-size: 20px;
    list-style: none;
    border-radius: 15px;
    background-image: url(https://images.unsplash.com/photo-1524230507669-5ff97982bb5e?q=80&w=2000);
    background-size: cover;
    filter: brightness(30%);
}
#services>div>ol>h1,p{
    margin-left: 25px;
}

#services>div>ol>article {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 20px;
    list-style: decimal;
}
#services>div>aside>ul:hover {
    scale: 1.1;
}
#partners{
    background-color:gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
#partners>p{
    font-size: 40px;
    color:  black;
    font-weight: bold;
}
#partners>p>cite {
    color: white;
    font-style: normal;
}
#partners>h1{
    font-size: 40px;
    color:  black;
}
#partners>div{
    /* background-color: blue; */
    height: 60%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}
#partners>div>li{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    gap:15px;
}
#partners>div>li>img{
    height: 90%;
    width: 95%;
    filter: brightness(30%);
    border-radius: 25px;
}
#partners>div>li>img:hover{
    scale: 1.1;
}
#partners>div>li>h1{
    font-size: 30px;
}
#testimonials {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#testimonials>h1 {
    font-size: 40px;
    font-weight: bolder;
}
#testimonials>div {
    /* background-color: tomato; */
    height: 40%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 40px;
}
#testimonials>div>h1 {
    font-size: 25px;
    text-align: center;
}
#testimonials>div>h3 {
    font-size: 20px;
    /* text-align: right; */
    color: ghostwhite;
}
#contact {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact>div {
    height: 80%;
    width: 90%;
    /* background-color: darkcyan; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 40px;
}
#contact>div>article {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 30px;
}
#contact>div>article>h3 {
    font-weight: bold;
    font-size: 30px;
    color: orange;
    margin-left: 25px;
}
#contact>div>article>h3>cite {
    font-weight: bold;
    font-size: 40px;
    color: white;
}
#contact>div>article>h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 25px;
}
#contact>div>article>h4 {
    font-size: 20px;
    color: orange;
    margin-left: 25px;
}
#contact>div>article>p {
    font-size: 20px;
}
#contact>div>aside {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
    border-radius: 30px;
}
#contact>div>aside>input {
    width: 80%;
    height: 15%;
    font-weight: bold;
    font-size: 20px;
    border-radius: 25px;
    border: 2px solid black;
}
#contact>div>aside>textarea {
    width: 80%;
    height: 20%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
}
#contact>div>aside>button {
    width: 30%;
    height: 10%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(245, 241, 234);
    border: 2px solid orange;
}
#quote {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote>article {
    /* background-color: aliceblue; */
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#quote>article>input {
    width: 80%;
    height: 15%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid black;
}
#quote>article>select {
    width: 80%;
    height: 20%;
    border-radius: 25px;
    font-weight: bold;
    font-size: 15px;
    border: 2px solid black;
}
#quote>article>button {
    width: 30%;
    height: 10%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(221, 220, 219);
    border: 2px solid orange;
}
footer{
    background-color: rgb(22, 22, 22);
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: white;
}
footer>address>a{
    text-decoration: none;
    color: aqua;
}


@media (max-width:768px) {
    nav>div>h1{
        font-size: 20px;
    }
    nav>div>p{
        font-size: 10px;
    }
    header>nav>div>img{
    height: 50%;
   }
   header>nav>ul {
        flex-direction: column;
        font-size: 10px;
        /* align-items: end; */
        width: 100%;
        display: none;
    }
    header>nav>ul>li {
        padding: 2px;
    }
     header>nav>ul>li>a:hover {
        padding: 2px;
    }
   header>nav>ul>li>a{
    color: black;
   }
   nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
   }
   #burger{
    display: flex;
   }
   #navlinksDesk{
    display: none;
   }
   #navlinksMob{
    padding-top: 220px;
    /* gap: 5px; */
    height: 450%;
    width: 150%;
    background-color: black;
    filter: brightness(25px) contrast(100px);
   }
    #home>h1{
    font-size: 35px;
    text-align: center;
    }
    #home>button{
        width:50%;
        height: 5%;
        font-size: 10px;
    }
    #about{
        /* background-color: aqua; */
    }
    #about>h1{
        font-size: 25px;
        font: bold;
    }
    #about>aside {
        height: 90%;
        flex-direction: column;
        gap: 20px;
    }
    #about>aside>div{
        display: flex;
        height: 20%; 
    }
    #about>aside>div>ul{
        font-size: 6px;
    }
    #about>aside>article{
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
     #about>aside>article>ol{
        height: 80%;
        width: 55%;
        display: flex;
        justify-content: flex-start;
     }
    #about>aside>article>ol>p {
        font-size: 10px;
    }
    #about>aside>article>div>img {
        height: 80%;
        width: 100%;
        
    }
    #products{
        width: 100%;
        height: 100%;
    }
     #products>aside{
        gap: 15px;
       
     }
    #products>aside>h1{
        font-size: 25px;
        font-weight: bold;  
    }
    #products>aside>div>button{
     width: 45%;
     height: 35%;
     font-size: 15px;
    }
     #products>aside>article {
      flex-direction: column;
      gap: 20px;
   }
     #products>aside>article>ul{
     width: 80%;
     height: 15%;
    }
     #products>aside>article>ul>h3 {
     font-size: 20px;
    }
     #products>aside>article>ul>img {
      height: 80%;
         width: 80%;
    }
     #products>aside>article>ul>button {
     width: 30%;
     height: 20%;
     font-size: 15px;
   }

#services{
    /* background-color: rebeccapurple; */
    font-size: 25px;
}
#services>h1{
    font-size: 25px;
    font-weight: bold;
}
#services>article{
    height: 20%;
    width: 100%;
    gap: 10px;
}
#services>article>ul{
    display: flex;
    height: 85% ;
    width: 100%;
    border-radius: 5px;
}
#services>article>ul>h3{
    font-size: 8px;
}
#services>article>ul>p{
    font-size: 7px;
}
#services>div{
    height: 80%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1524230507669-5ff97982bb5e?q=80&w=2000);
    background-size: cover;
}
#services>div>aside{
    /* background-color: rgb(52, 52, 104); */
    height:50%;
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
}
#services>div>aside>ul{
    height:30%;
    width: 100%;
    font-size: 10px;
    border-radius: 5px;
}
#services>div>ol{
    height: 50%;
    width: 100%;
    font-size: 10px;
    gap: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-image: none;    
}
#services>div>aside>ol>h1>p{
    font-size: 4px;
}
#services>div>ol>article{
width: 40%;
font-size:6px;
}
#partners{
    width: 100%;
    height: 100%; 
    display: flex;
    text-align: left;
    justify-content: flex-start;

}
#partners>p{
    font-size: 25px;
    font-weight: bold;
}
#partners>h1{
    font-size: 18px;
}
#partners>div{
    flex-direction: column;
    height: 80%;
    width: 100%;
    /* background-color: brown; */
}
#partners>div>li{
    width: 90%;
    height: 100%;
}
#partners>div>li>h1{
    font-size: 15px;
}
#partners>div>li>img{
    height: 40%;
    width:100%;
    border-radius: 15px;
}
#testimonials{
    background-color: gray;
}
#testimonials>h1{
    font-size: 25px;
    font-weight: bold;
}
#testimonials>div{
    /* background-color: lightcoral; */
    width: 95%;
    height: 30%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#testimonials>div>h1{
    font-size: 17px;
}
#testimonials>div>h3{
    font-size:15px;
    color: brown;
}
#contact{
    /* background-color: aqua; */
    display: flex;
    /* flex-direction: row; */
}
#contact>div{
    height: 90%;
    width: 95%;
    flex-direction: column;
    gap: 10px; 
}
#contact>div>article{
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact>div>article>h3{
    font-size: 15px;
    font-weight: bolder;
}
#contact>div>article>h1{
    font-size: 18px;
    font-weight: bolder;
}
#contact>div>article>h4 {
    font-size: 15px;
}
#contact>div>article>p {
    font-size: 15px;
}
#contact>div>aside {
    height: 50%;
    width: 100%;
}
#contact>div>aside>input {
    font-size: 10px;
}
#contact>div>aside>textarea {
    border-radius: 15px;
}
#contact>div>aside>button {
    width: 50%;
    height: 20%;
    font-size: 10px;
}
#quote>article>input{
    font-size: 10px;
    height: 10%;
}
#quote>article>select{
    height: 10%;
    font-size: 12px;
}
footer{
    font-size: 10px;
}
}